.contact-us-container {
  padding: 20px;
  max-width: 40rem;
  margin: 2rem auto;
  text-align: center;
}

.contact-us-description {
  font-size: 1.25rem;
 
}

.contact-us-additional{
  font-size: 1.75rem;
}

.contact-us-image {
  width: 25rem;
  height: auto;
  border-radius: 10px;
  margin:2rem 0;
}

@media (max-width: 768px) {
  .contact-us-container {
    padding: 15px;
  }

  .contact-us-description,
  .contact-us-additional {
    font-size: 1rem;
  }
}
