/* ArticleCarousel.css */
.carousel-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 10px;
    scrollbar-width: none; 
    width:50rem;
  }
  
  .carousel-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
  }
  