.what-we-do-container {
  margin-top: 4rem;
  padding: 0 1rem;
}

.what-we-do-container h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 2rem;
  text-align: center;
}

.what-we-do-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-mission {
  width: 100%;
  max-width: 45rem;
  text-align: center;
  margin-bottom: 2rem;
}

.mission-images {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.mission-pic {
  width: 45%;
  max-width: 15rem;
  margin: 0 1rem;
}

.mission-text {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
  text-align: justify;
}

.features {
  width: 100%;
  max-width: 45rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature {
  width: 100%;
  max-width: 20rem;
  margin-bottom: 2rem;
  text-align: center;
}

.feature .icon {
  font-size: 2rem;
  color: #4caf50;
  margin-bottom: 1rem;
}

.feature p {
  font-size: 1rem;
  color: #555;
  text-align: justify;
}

@media (min-width: 768px) {
  .what-we-do-content {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .our-mission {
    width: 45%;
  }

  .features {
    width: 45%;
  }
}
