/* ArticlePreview.css */
.article-preview {
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s;
    background-color: white;

    
      .preview-image {
        width: 9rem;
        height: 5rem;
        border-radius: 0.5rem;
        margin-bottom: 0.1rem;
      }
      
      .preview-title {
        font-size: 1rem;
        color: #333;
        margin-bottom: 5px;
      }
      
      .preview-content {
        font-size: 0.9rem;
        color: #555;
      }
      
  }
  .article-preview:hover {
    transform: scale(1.01);
  }
  
  
  