.home {
    display: flex;
    background-color: #f8f8f8;
  }
  
  .sidebar-container {
    display: block;
  }
  
  .home-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  } 
  
  /* Media query for mobile view */
  @media (max-width: 768px) {
    .sidebar-container {
      display: none;
    }
  
    .home {
      flex-direction: column;
    }
  
    .home-content {
      width: 100%;
      padding: 10px;
    }
  }
  