/* SideBar.css */
.sidebar-main{
  .sidebar {
    position: fixed;
    top: 0;
    left: -100%; /* Hidden by default */
    width: 80%;
    height: 100%;
    background-color:var(--color-background);
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transition: left 0.3s ease;
    z-index: 1001;
    margin-top: 3.5rem;
  }
  
  .sidebar-open {
    left: 0; /* Visible when open */
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  
  .search-bar input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-bar .search-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .sidebar-link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: #333;
    gap:1rem;
    text-decoration: none;
    margin: 0.5rem 0;
    transition: background-color 0.2s ease;
  }
  
  .sidebar-link:hover {
    background-color: #f0f0f0;
  }
  
}
