.post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin: 2rem 0;
  padding: 2rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 32rem;

  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .profile-pic {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    margin-right: 0.625rem;
    border: 0.125rem solid var(--color-green);
  }
  
  .username {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .caption {
    font-size: 1.1rem;
    margin: 1rem 0;
  }
  
  .post-image {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }
  
  .post-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  
  .like-button,
  .comment-button {
    color: black;
    border: none;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .like-button.liked {
    background-color: var(--color-green);
  }
  
  .like-button:hover,
  .comment-button:hover {
    background-color: var(--color-green);
  }
  
  .comments {
    margin-top: 2rem;
    border-top: 0.0625rem solid #ddd;
    padding-top: 1rem;
  }
  
  .comment {
    display: flex;
    margin-bottom: 1rem;
  }
  
  .comment-username {
    font-weight: bold;
    margin-right: 0.3125rem;
  }
  
  .comment-content {
    color: #555;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .post {
      padding: 1.5rem;
    }
  
    .profile-pic {
      width: 2.5rem;
      height: 2.5rem;
    }
  
    .username {
      font-size: 1rem;
    }
  
    .caption {
      font-size: 1rem;
    }
  
    .post-info {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .like-button,
    .comment-button {
      padding: 0.5rem 0.75rem;
      font-size: 0.875rem;
    }
  }
  
  @media (max-width: 480px) {
    .post {
      padding: 1rem;
    }
  
    .profile-pic {
      width: 2rem;
      height: 2rem;
    }
  
    .username {
      font-size: 0.875rem;
    }
  
    .caption {
      font-size: 0.875rem;
    }
  
    .post-info {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .like-button,
    .comment-button {
      padding: 0.375rem 0.5625rem;
      font-size: 0.75rem;
    }
  }
  
}

