.footer {
    background-color:aliceblue;
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
    color: #333;
    height:13rem;
    padding-top: 5rem;

    
  .footer-left{
    display: flex;
    flex-direction: column;
  }
    
  .footer-right {
    display: flex;
    flex-direction: column;
    gap:2rem;
    
  }
  
  .footer-left h3 {
    font-size: 1rem;
    
  }
  
  .footer-left p {
    font-size: 0.9rem;
  }
  
  .social-icons {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    /* margin-bottom: 1rem; */
  }
  
  .social-icons a {
    color: #333;
    font-size: 2.5rem;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #007bff;
  }
  
  .footer-links {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
  }
  
  .footer-links a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 0.9rem;
  }
  
  .footer-links a:hover {
    color: #007bff;
  }
  
  }