.container{
    background-color: rgb(170, 241, 241);
    width:50rem;
    margin: 0 auto;
    margin-top: 8rem;
    padding: 2rem;
    border-radius: 1rem;
}
.image-drag{
    height:4rem;
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    border: solid black 0.1rem;

}
.image-drag button{
    height:2rem;
}
