.header{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header-top {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 40px 20px;
    background-color: rgb(111, 234, 234);
    height:1.5rem;

}

.logo-box {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
}

.logo-box img {
    height:70px;
    width:80px;
    margin-left:5px;
}

.logo-box h1{
    margin-left:0px;
}

.navbar {
    /* background-color: #333; */
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    margin-right:8rem ;
    /* gap: 10px; Adjusts the space between the boxes */
}

nav a {
    /* display: inline-block; */
    background-color: rgb(185, 210, 245);
    color: black;
    width:7rem;
    height:rem;
    text-align: center;
    margin-left: 7rem;
    border-radius: 0.6rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;

}

nav a:hover {
    background-color: rgb(135, 227, 135);
}
