.disease-detection-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width:80%;
  margin-right: 15rem;

  .disease-detection-container h3 {
    font-size: 1.5rem;
  }
  
  .image-drag {
    height: 8rem;
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    border: 2px dashed #6c757d;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .image-drag.dragging {
    background-color: #ced4da;
  }
  
  .browse-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
  }
  
  .browse-button:hover {
    background-color: #0056b3;
  }
  
  .preview {
    margin-bottom: 1.5rem;
  }
  
  .preview-image {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    border: solid #ddd 0.1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .predict-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .predict-button:hover {
    background-color: #218838;
  }
  
  .prediction-result {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'Arial', sans-serif;
  }
  .blue{
    color:blue;
  }
}

